.contentContainer{
    /* border: 2px solid red; */
    display: flex;
    gap: 10px;

}
.contentBoxLeft{
    width: 70%;
    /* border: 2px solid green; */
    /* background-color: rgb(27, 34, 40); */
}
/* Add this CSS in your stylesheet */

.contentBoxRight{
    width: 40%;
    /* border: 2px solid green; */
    padding: 10px;
    background-color: rgb(45, 63, 75);
}
@media (max-width: 768px) {
    .contentContainer {
      max-width: 640px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .contentBoxLeft{
        width: 90%;
        border: 2px solid green;
    }
    .contentBoxRight{
        width: 90%;
        border: 2px solid green;
    }
   
  }
.blogPostForm{
    display: flex;
    flex-direction: column;
}
.formLabel{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    padding: 10px;
}
.formLabel input{
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: none;
}
.submitButton{
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}