:root {
  --bg: #0b1529;
  --bgSoft: #1f3050;
  --text: #dee4eb;
  --textSoft: #cbd2d9;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
}

body.light{
  --bg: #dee4eb;
  --text: #0b1529;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 1366px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1536px) {
  .container {
    max-width: 1366px;
  }
}
@media (max-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .singleHeadImg {
    /* display: none; */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .singleHead{
      display: flex;
      flex-direction: column;
  }
  .listItemImage{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .listItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      margin-bottom: 50px;
    }

  .singleBottom {
    flex-direction: column-reverse;
  }

  .rightBarImg {
    display: none;
  }

  .rightBarImgHr {
    display: block;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .links {
    font-size: 14px;
  }



  .searchButton span{
    display: none;
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* .ql-container.ql-snow {
  border: none !important;
} */
div .ql-container.ql-snow {
  border: none;
}